<ion-header>
  <ion-toolbar>
    <ion-title>Add Account | Creeps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container" [hidden]="codeSent">
    Enter the phone number you want to register.
    <ion-item>
      <ion-label id="country_code">+63</ion-label>
      <ion-input
        id="ph_number"
        maxLength="10"
        placeholder="9XXXXXXXXX"
        value="9120357451"
      ></ion-input>
    </ion-item>
    <div id="recaptcha-container"></div>
    <ion-button (click)="sendcode()">Send Code</ion-button>
  </div>
  <div [hidden]="!codeSent" class="container">
    <ion-item>
      <ion-input
        id="verification_code"
        maxLength="6"
        placeholder="XXXXXX"
      ></ion-input>
    </ion-item>
    <ion-button (click)="verifycode()">Verify Code</ion-button>
  </div>
</ion-content>
