.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  padding: 10px;
}
#recaptcha-container {
  margin: 0 auto;
  margin-top: 5px;
}

.flex {
  display: flex;
}

.back {
  display: flex;
  justify-content: center;
  flex: 30%;
  font-size: 30px;
}
