ion-icon {
  font-size: 40px;
}

.flex {
  display: flex;
}

.chat {
  display: flex;
  justify-content: flex-end;
  flex: 40%;
  font-size: 30px;
}

.xp {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopList {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-label {
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    color: gold;
  }
}

.FooterBtn {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 40px;
  }
}

.DownBtn {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;

  ion-label {
    text-align: center;
    font-size: 12px;
  }
}
